VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=
VITE_WHATSAPP_NUMBER=573181749436

# Configuración del reporte semanal
BREVO_API_KEY=
BREVO_SENDER_EMAIL=perfumes.saadc@gmail.com
REPORT_RECIPIENT_EMAIL=perfumes.saadc@gmail.com
WHATSAPP_NUMBERS=3102318786,3016303982